<table class="table table-striped results scrolls">
  <tbody>
    <tr class="row justify-content-start">
      <th class="col">Imagen</th>
      <th class="col">Nombre</th>
      <th class="col">Cantidad</th>
      <th class="col">Precio de compra</th>
      <th class="col">Precio de venta</th>
       <th class="col">Acción</th>
    </tr>
    <%- @productos.each do |producto| %>
    <tr class="row justify-content-start">
      <td class='col-md-2'>
        <%image='missing.png'%>
        <%= image_tag producto.image.url, class:"img-thumbnail"%></td>
        <td class="col"><h4><%=producto.nombre%></h4></td>
        <td class="col"><h4><%=producto.cantidad%></h4></td>
        <td class="col"><h4><%=producto.precio_compra%></h4></td>
        <td class="col"><h4><%=producto.precio_venta%></h4></td>
        <td class='col'>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acción
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <%= link_to 'Editar', edit_producto_path(producto), class:'dropdown-item' %>
            <%= link_to 'Borrar', producto_path(producto), class:'dropdown-item', method: :delete%>
          </div>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>